.photos__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url(../../../img/Trash.svg);
  cursor: pointer;
}

.photos__trash:hover {
  opacity: 0.6;
}
