.page {
  width: 100%;
  padding-top: 40px;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 0 0 0;
  }
}
