.profile__button-edit {
  background-image: url(../../../img/Edit_Button1.svg);
  border: none;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

.profile__button-edit:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
