.profile {
  margin: 0 auto;
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px;
}

@media screen and (max-width: 879px) {
  .profile {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .profile {
    flex-direction: column;
  }
}
