.profile__author-description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 879px) {
  .profile__author-description {
    max-width: 282px;
  }
}

@media screen and (max-width: 580px) {
  .profile__author-description {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
