.popup__button {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  border-radius: 2px;
  border: none;
  height: 50px;
  color: #fff;
  margin-top: 18px;
  transition: 0.5s;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 580px) {
  .popup__button {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    height: 46px;
  }
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
