.popup__button {
  width: 100%;
  border-radius: 2px;
  border: none;
  max-width: 358px;
  height: 50px;
  color: #fff;
  transition: 0.5s;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 580px) {
  .popup__button {
    max-width: 238px;
  }
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
