.header {
  max-width: 880px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  padding-bottom: 40px;
}

@media screen and (max-width: 879px) {
  .header {
    max-width: 581px;
  }
}


