.popup__description {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 48px;
  padding-bottom: 13px;
}

@media screen and (max-width: 580px) {
  .popup__description {
    max-width: 238px;
  }
}
