.photos__heart {
  background-image: url(../../../img/Heart.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
}

.photos__heart:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.photos__heart:active {
  background-image: url(../../../img/like.png);
  opacity: 1;
  cursor: pointer;
}
