.profile__avatar {
  background-image: url(../../../img/Avatar.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 30px;
  margin: 0;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 580px) {
  .profile__avatar {
    padding: 0;
    margin-bottom: 22px;
  }
}
