.popup__size {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000;
  margin: 0;
}

.popup__size-resize {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.5s linear;
}
